<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Withdraw Request Accepted</title>
  </head>
  <body>
    <div>
      <div>Hello {{ughId}},</div>
      <div style="margin-top: 20px">
        We have received your withdrawal request for {{coins}} coins.
      </div>
      <div style="margin-top: 20px">
        The request has been accepted and we have initiated the payment of {{coins}}
        rs to the payment mode selected by you at the time of making the
        withdrawal request.If same has not been credited to your account within
        24 hours, please contact us on support@ultimategamershub.com or chat
        with Admin on the Home page
      </div>
      <div style="margin-top: 30px">Sincerely,</div>
      <div>UGH Team</div>
      <div>
        <img
          width="180"
          height="75"
          src="https://firebasestorage.googleapis.com/v0/b/ultimategamershub.appspot.com/o/ugh%2Flogo_email.webp?alt=media&token=f278dfa5-8bf7-4514-a8e6-b41b5e9d2e5c"
        />
      </div>
    </div>
  </body>
</html>
