<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tournament Cancellation</title>
  </head>
  <body>
    <div>
      <div>Hello {{ughId}},</div>
      <div style="margin-top: 20px">
        Your tournament {{tournamentName}} has been cancelled as the criteria
        for minimum number of participant has not been fulfilled.
      </div>
      <div>
        The tournament entry coins will be credited to your UGH account.
      </div>
      <div>
        If the coins does not get credited to your account within 24 hours,
        please contact us on support@ultimategamershub.com or chat with Admin on
        the Home page
      </div>
      <div>
        Please do not respond to this message. If you'd like to contact the UGH
        team then send an email to support@ultimategamershub.com
      </div>
      <div style="margin-top: 30px">Sincerely,</div>
      <div>UGH Team</div>
      <div>
        <img
          width="180"
          height="75"
          src="https://firebasestorage.googleapis.com/v0/b/ultimategamershub.appspot.com/o/ugh%2Flogo_email.webp?alt=media&token=f278dfa5-8bf7-4514-a8e6-b41b5e9d2e5c"
        />
      </div>
    </div>
  </body>
</html>
