<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tournamnet Dispute</title>
  </head>
  <body>
    <div>
      <div>Hello {{ughId}},</div>
      <div style="margin-top: 20px">
        Please use the below link to reset your password: <a href={{resetLink}}>Reset Link</a>
      </div>
      <div style="margin-top: 15px">
        If you find this email as Spam or in junk, please mark this email as not
        spam for better communication in future.
      </div>
      <div style="margin-top: 15px">
        Please do not respond to this message. If you'd like to contact the UGH
        team then send an email to support@ultimategamershub.com .
      </div>

      <div style="margin-top: 30px">Sincerely,</div>
      <div>UGH Team</div>
      <div>
        <img
          width="180"
          height="75"
          src="https://firebasestorage.googleapis.com/v0/b/ultimategamershub-c1992.appspot.com/o/ugh%2Flogo.png?alt=media&token=43e51a1a-c06b-48bd-88b1-9be74f77410d"
        />
      </div>
    </div>
  </body>
</html>
