<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Activation</title>
  </head>
  <body>
    <div>
      <div>Hi {{ughId}},</div>
      <div style="margin-top: 20px">
        Welcome to Ultimate Gamers Hub! You have successfully registered to our
        website ultimategamershub.com.
      </div>
      <div>
        Please authenticate and activate your account by clicking on the below
        link.
      </div>
      <div><a href="{{href}}">Click Here!!!</a></div>
      <div>
        If you click the link and it appears to be broken, please copy and paste
        it into a new browser window.
      </div>
      <div>
        Please do not respond to this message. If you'd like to contact the UGH
        team then send an email to support@ultimategamershub.com Thanks again
        for registering and have a great day!
      </div>

      <div style="margin-top: 30px">Sincerely,</div>
      <div>UGH Team</div>
      <div>
        <img
          width="180"
          height="75"
          src="https://firebasestorage.googleapis.com/v0/b/ultimategamershub.appspot.com/o/ugh%2Flogo_email.webp?alt=media&token=f278dfa5-8bf7-4514-a8e6-b41b5e9d2e5c"
        />
      </div>
    </div>
  </body>
</html>
