 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UGH Welcome</title>
  </head>
  <body>
    <div>
      <div>Hello {{ughId}},</div>
      <div style="margin-top: 20px">
        Welcome to Ultimate Gamers Hub family. You are now a registered user.
      </div>
      <div style="margin-top: 20px">
        For successfully registering with us we are crediting 250 UGH coins to
        your account as joining bonus that can be used to join any available
        Tournaments. For more information about joining the tournaments please
        visit More > How to Play on our website.
      </div>
      <div style="margin-top: 20px">
        The coins will be automatically added to your account. If the
        above-mentioned coins do not get credited to your account within 24
        hours, please contact us on support@ultimategamershub.com or chat with
        Admin on the Home page.
      </div>
      <div style="margin-top: 20px">
        Please update your Full name, Date of Birth, Phone number,
        PSN/Gamertag/Steam ID, Aadhar Card, and PAN card number using the Edit
        profile option. This will help in better communication and a seamless
        withdrawal process.
      </div>
      <div style="margin-top: 20px">
        If you find this email as Spam or junk, please mark this email as not
        spam for better communication in the future.
      </div>
      <div>
        Please do not respond to this message. If you'd like to contact the UGH
        team then send an email to support@ultimategamershub.com .
      </div>
      <div style="margin-top: 20px">Thanks again for registering with us and have a great day!</div>

      <div style="margin-top: 30px">Sincerely,</div>
      <div>UGH Team</div>
      <div>
        <img
          width="180"
          height="75"
          src="https://firebasestorage.googleapis.com/v0/b/ultimategamershub.appspot.com/o/ugh%2FLogo_Final.png?alt=media&token=2e8f13d5-7099-40ac-acf2-a84b71d81851"
        />
      </div>
    </div>
  </body>
</html>
