.news {
  width: 100%;
  padding: 2rem;
  background-image: url("../asset/news.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__title {
    font-size: 2.8rem;
    text-transform: capitalize;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
    color: white;
    font-weight: bold;
  }
  &__list {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__item {
    min-width: 24rem;
    max-width: 24rem;
    height: 16rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    border-radius: 2rem;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5rem;
      text-transform: capitalize;
      opacity: 0;
    }
    &:hover &__title {
      opacity: 1;
    }
    &:hover {
      filter: grayscale(100%);
    }
  }

  &__container {
    width: 90vw;
    margin: 2rem auto;
    min-height: 150vh;
    &__image {
      margin: 2rem 0;
      width: 100%;
      height: 50rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 1rem;
      @include respond(tab-port) {
        & {
          background-position: right;
        }
      }
    }
    &__title {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__time {
      margin: 0.5rem 0;
      width: 100%;
      font-size: 2.2rem;
      padding-bottom: 2rem;
      border-bottom: 0.1rem solid rgba(gray, 0.4);
    }
    &__description {
      font-size: 2rem;
      text-transform: capitalize;
      word-wrap: break-word;
      word-break: break-all;
      width: 86vw;
      margin: 0 auto;
    }
  }
}
