.news {
  width: 100%;
  background-color: white;
  padding: 2rem;
  &__title {
    font-size: 2.8rem;
    text-transform: capitalize;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    font-weight: bold;
  }
  &__list {
    height: 20rem;
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__item {
    padding: 0.5rem;
    border-bottom: 1px solid rgba(black, 0.1);
    &__title {
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: capitalize;
      cursor: pointer;
    }
    &__desc {
      margin-top: 0.2rem;
      font-size: 1.2rem;
    }
  }
}
