table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem;
}

th {
  text-transform: uppercase;
  cursor: pointer;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table__link {
  text-decoration: none;
}

@include respond(tab-port) {
  .table__hidden {
    display: none;
  }
}
