.tooltip {
  position: relative;
  &:hover  &__title {
    visibility: visible;
  }
  &__title {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border-radius: 0.3rem;
    color: white;
    padding: 0.3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
    visibility: hidden;
  }
}
