@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 0.5rem; }

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 5rem;
  font-family: "Chakra Petch", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.page-transition-enter {
  opacity: 0;
  transform: translateX(-100%); }

.page-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms; }

.page-transition-exit {
  opacity: 1;
  transform: translateX(0); }

.page-transition-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 300ms; }

h1 {
  font-size: 3.6rem;
  font-weight: lighter; }

.tooltip {
  position: relative; }
  .tooltip:hover .tooltip__title {
    visibility: visible; }
  .tooltip__title {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border-radius: 0.3rem;
    color: white;
    padding: 0.3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
    visibility: hidden; }

.layout {
  width: 100vw;
  position: relative; }
  .layout--side {
    display: flex; }
  .layout__box {
    height: 12vh;
    width: 100%;
    background-color: black; }
  .layout__body__title {
    height: 7.5rem;
    padding: 0.5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.6rem;
    text-transform: capitalize;
    box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.3); }
  .layout__body__children {
    padding: 2rem;
    position: relative; }

.navbar--top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 12vh;
  box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.3);
  color: white;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 8rem; }

.navbar__responsive-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .navbar__responsive-menu__link {
    font-size: 2.5rem;
    text-transform: capitalize;
    padding: 1rem;
    position: relative; }
    .navbar__responsive-menu__link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: blue;
      transition: width 300ms linear; }
    .navbar__responsive-menu__link:hover {
      color: blue; }
    .navbar__responsive-menu__link:hover::before {
      width: 100%; }

.navbar__logo {
  height: 5rem;
  width: 14rem; }

.navbar__list {
  margin-left: auto; }
  .navbar__list--collapse {
    display: flex; }
  .navbar__list--responsive {
    display: none; }

.navbar__item--link {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-right: 5rem;
  padding-bottom: 1rem;
  position: relative;
  transition: color 300ms linear; }
  .navbar__item--link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: width 300ms linear; }
  .navbar__item--link:hover {
    color: blue; }
  .navbar__item--link:hover::before {
    width: 100%; }

.navbar__item--dropdown {
  text-transform: capitalize;
  position: relative;
  margin-right: 5rem;
  cursor: pointer;
  font-size: 1.6rem; }
  .navbar__item--dropdown__title {
    transition: color 300ms linear; }
    .navbar__item--dropdown__title:hover {
      color: blue; }
  .navbar__item--dropdown__menu {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 15rem;
    display: none;
    flex-direction: column; }
    .navbar__item--dropdown__menu__item {
      background-color: blue;
      padding: 1rem; }
      .navbar__item--dropdown__menu__item:hover {
        background-color: rgba(0, 0, 255, 0.8); }
      .navbar__item--dropdown__menu__item:not(:last-child) {
        margin-bottom: 0.5rem; }
  .navbar__item--dropdown:hover .navbar__item--dropdown__menu {
    display: flex; }
  .navbar__item--dropdown:last-child {
    margin-right: 0; }

.navbar--side {
  position: fixed;
  z-index: 100;
  background-color: blue;
  width: 5rem;
  min-height: 100vh;
  height: 100%;
  display: block;
  text-align: center; }

.navbar--link {
  color: white; }

.navbar--icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  cursor: pointer; }

@media (max-width: 56.25em) {
  .navbar--top {
    padding: 0 2.5rem; }
  .navbar__list--collapse {
    display: none; }
  .navbar__list--responsive {
    display: block; } }

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem; }

th {
  text-transform: uppercase;
  cursor: pointer; }

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  cursor: pointer; }

tr:nth-child(even) {
  background-color: #dddddd; }

.table__link {
  text-decoration: none; }

@media (max-width: 56.25em) {
  .table__hidden {
    display: none; } }

.card {
  background-color: #eee;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.7rem 0.5rem rgba(0, 0, 0, 0.3);
  width: 18rem;
  height: 20rem;
  margin: 0.5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer; }
  .card__title {
    font-size: 2.4rem;
    text-transform: capitalize; }
  .card__count {
    font-size: 8rem; }

.grid {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  flex-wrap: wrap; }

.gallery__image {
  width: 25rem; }

@media (max-width: 56.25em) {
  .gallery__image {
    width: 100%; } }

.form {
  width: 36rem;
  padding: 0.5rem; }
  .form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
  .form__group-icon {
    display: flex; }
  .form__icon {
    font-size: 3rem;
    cursor: pointer;
    margin-left: 0.2rem; }
  .form__input {
    min-width: 32rem;
    width: 100%;
    padding: 0.8rem 0.5rem;
    font-size: 1.8rem;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0.4rem;
    border: none;
    outline: none; }
    .form__input:placeholder-shown {
      text-transform: capitalize; }
    .form__input:not(:placeholder-shown) ~ .form__input__helper {
      opacity: 1;
      transform: translateX(0.5rem) translateY(0); }
    .form__input__helper {
      font-size: 1.2rem;
      text-transform: uppercase;
      opacity: 0;
      transform: translateX(0.5rem) translateY(-1.4rem);
      margin-top: 0.2rem;
      transition: all 100ms linear; }
  .form__select {
    margin-bottom: 1rem;
    color: #737f98; }
    .form__select__option {
      padding: 1rem; }
      .form__select__option:hover, .form__select__option:focus {
        border: none;
        background-color: rgba(128, 128, 128, 0.4); }

.sponsor-slider {
  width: 100%;
  padding: 1rem;
  background-color: black; }
  .sponsor-slider__container {
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
    -ms-overflow-style: none; }
    .sponsor-slider__container::-webkit-scrollbar {
      width: 0;
      height: 0; }
  .sponsor-slider__card {
    min-width: 20rem;
    max-width: 20rem;
    height: 12rem;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    backdrop-filter: invert(70%); }
    .sponsor-slider__card__name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-transform: capitalize;
      font-size: 1.6rem;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 4px;
      color: black;
      border-radius: 0.4rem;
      opacity: 0;
      transition: opacity 300ms linear;
      text-decoration: none; }
    .sponsor-slider__card:hover .sponsor-slider__card__name {
      opacity: 1; }
    .sponsor-slider__card:not(:last-child) {
      margin-right: 0.7rem; }

.footer {
  background-color: blue;
  padding: 2rem; }
  .footer__l1 {
    text-align: center;
    color: white;
    font-size: 1.6rem; }
  .footer__l2 {
    padding: 1rem 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .footer__l2__item {
      font-size: 1.4rem;
      width: 50%;
      text-align: center;
      color: white; }
      @media (max-width: 56.25em) {
        .footer__l2__item {
          width: 100%;
          margin-bottom: 1rem; } }
      .footer__l2__item__link {
        color: white;
        text-decoration: none; }

.signin {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .signin__other {
    margin: 1.2rem 0; }

.shop {
  min-height: 90vh;
  padding: 2rem;
  background-image: url("../asset/shop-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .shop__container {
    display: flex;
    max-width: 100rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; }
  .shop__card {
    margin: 0.7rem 0.5rem;
    border-radius: 0.4rem;
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer; }
    .shop__card__coin {
      width: 16rem; }
    .shop__card__value {
      font-size: 2.5rem;
      font-weight: 900;
      margin-bottom: 0.8rem; }
    .shop__card__cost {
      font-size: 2.5rem;
      font-weight: 900;
      margin: 0.8rem 0; }

@media (max-width: 56.25em) {
  .shop__card__coin {
    width: 12rem; } }

.gallery {
  padding: 2rem;
  min-height: 88vh;
  background-color: #e6e6e6; }
  .gallery__title {
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 900; }
  .gallery__subtitle {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.8rem; }
  .gallery__display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 100rem; }
  .gallery__container {
    height: 20rem;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 0 0.7rem 1rem 0.2rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative; }
    .gallery__container:hover .gallery__img {
      transform: scale(1.1);
      filter: blur(5px); }
    .gallery__container:hover .gallery__name {
      opacity: 1; }
  .gallery__name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 300ms linear; }
  .gallery__img {
    height: 100%;
    width: auto;
    transition: transform 200ms linear; }

.streams {
  padding: 2rem;
  text-align: center;
  min-height: 88vh; }
  .streams__title {
    font-size: 4rem;
    text-transform: uppercase; }
  .streams__subtitle {
    margin: 2rem 0;
    font-size: 1.6rem;
    text-transform: capitalize; }
  .streams__social {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem; }
    .streams__social__button:not(:last-child) {
      margin-right: 1rem; }
  .streams__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .streams__item {
    width: 36rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    position: relative;
    color: white; }
    .streams__item__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.2);
      z-index: -1; }
    .streams__item__name {
      position: absolute;
      bottom: 3rem;
      left: 1rem;
      font-size: 2rem;
      text-transform: capitalize;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 0.2rem; }
    .streams__item__game {
      position: absolute;
      bottom: 0.5rem;
      left: 1rem;
      font-size: 2rem;
      text-transform: capitalize;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 0.2rem; }
    .streams__item__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 4rem;
      color: rgba(255, 255, 255, 0.6);
      transform: translate(-50%, -50%); }

.sponsors {
  min-height: 88vh; }
  .sponsors__head {
    padding: 2rem 0;
    background-image: url("../asset/streams.jpg");
    background-size: cover; }
  .sponsors__title {
    text-align: center;
    text-transform: capitalize;
    font-size: 3.2rem;
    font-weight: 900;
    color: white; }
  .sponsors__new {
    width: 36rem;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.4rem;
    padding: 1rem; }
  .sponsors__body {
    padding: 2rem;
    background-color: navy; }
    .sponsors__body__container {
      max-width: 100rem;
      margin: 0rem auto; }
  .sponsors__group:not(:last-child) {
    margin-bottom: 2rem; }
  .sponsors__group__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white; }
  .sponsors__group__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .sponsors__card {
    margin: 0.2rem;
    cursor: pointer; }
    .sponsors__card__image {
      width: 18rem;
      height: 16rem; }
      .sponsors__card__image img {
        width: 100%;
        height: 100%; }
    .sponsors__card__name {
      display: block;
      text-align: center;
      margin: 0.5rem 0;
      font-size: 2rem;
      text-transform: capitalize;
      color: white; }
    .sponsors__card__links {
      margin-top: 0.4rem;
      flex-wrap: wrap;
      width: 16rem;
      display: flex;
      justify-content: center; }
      .sponsors__card__links__item {
        color: white;
        font-size: 2rem; }
