@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 0.5rem; }

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 5rem;
  font-family: "Chakra Petch", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.page-transition-enter {
  opacity: 0;
  transform: translateX(-100%); }

.page-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms; }

.page-transition-exit {
  opacity: 1;
  transform: translateX(0); }

.page-transition-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 300ms; }

h1 {
  font-size: 3.6rem;
  font-weight: lighter; }

.tooltip {
  position: relative; }
  .tooltip:hover .tooltip__title {
    visibility: visible; }
  .tooltip__title {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border-radius: 0.3rem;
    color: white;
    padding: 0.3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    z-index: 2;
    cursor: pointer;
    visibility: hidden; }

.layout {
  width: 100vw;
  position: relative; }
  .layout--side {
    display: flex; }
  .layout__box {
    height: 12vh;
    width: 100%;
    background-color: black; }
  .layout__body__title {
    height: 7.5rem;
    padding: 0.5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.6rem;
    text-transform: capitalize;
    box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.3); }
  .layout__body__children {
    padding: 2rem;
    position: relative; }

.navbar--top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 12vh;
  color: white;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 8rem; }

.navbar__responsive-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .navbar__responsive-menu__link {
    font-size: 2.5rem;
    text-transform: capitalize;
    padding: 1rem;
    position: relative; }
    .navbar__responsive-menu__link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: blue;
      transition: width 300ms linear; }
    .navbar__responsive-menu__link:hover {
      color: blue; }
    .navbar__responsive-menu__link:hover::before {
      width: 100%; }

.navbar__logo {
  height: 5rem;
  width: 20rem; }

.navbar__list {
  margin-left: auto; }
  .navbar__list--collapse {
    display: flex; }
  .navbar__list--responsive {
    display: none; }

.navbar__item--link {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-right: 5rem;
  padding-bottom: 1rem;
  position: relative;
  transition: color 300ms linear; }
  .navbar__item--link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: width 300ms linear; }
  .navbar__item--link:hover {
    color: blue; }
  .navbar__item--link:hover::before {
    width: 100%; }

.navbar__item--dropdown {
  text-transform: capitalize;
  position: relative;
  margin-right: 5rem;
  cursor: pointer;
  font-size: 1.6rem; }
  .navbar__item--dropdown__title {
    transition: color 300ms linear; }
    .navbar__item--dropdown__title:hover {
      color: blue; }
  .navbar__item--dropdown__menu {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 15rem;
    display: none;
    flex-direction: column; }
    .navbar__item--dropdown__menu__item {
      background-color: blue;
      padding: 1rem; }
      .navbar__item--dropdown__menu__item:hover {
        background-color: rgba(0, 0, 255, 0.8); }
      .navbar__item--dropdown__menu__item:not(:last-child) {
        margin-bottom: 0.5rem; }
  .navbar__item--dropdown:hover .navbar__item--dropdown__menu {
    display: flex; }
  .navbar__item--dropdown:last-child {
    margin-right: 0; }

.navbar--side {
  position: fixed;
  z-index: 100;
  background-color: blue;
  width: 5rem;
  min-height: 100vh;
  height: 100%;
  display: block;
  text-align: center; }

.navbar--link {
  color: white; }

.navbar--icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  cursor: pointer; }

@media (max-width: 56.25em) {
  .navbar--top {
    padding: 0 2.5rem; }
  .navbar__list--collapse {
    display: none; }
  .navbar__list--responsive {
    display: block; } }

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem; }

th {
  text-transform: uppercase;
  cursor: pointer; }

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  cursor: pointer; }

tr:nth-child(even) {
  background-color: #dddddd; }

.table__link {
  text-decoration: none;
  color: blue;
  text-transform: uppercase;
  font-weight: bold; }

@media (max-width: 56.25em) {
  .table__hidden {
    display: none; } }

.card {
  background-color: #eee;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.7rem 0.5rem rgba(0, 0, 0, 0.3);
  width: 18rem;
  height: 20rem;
  margin: 0.5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer; }
  .card__title {
    font-size: 2.4rem;
    text-transform: capitalize; }
  .card__count {
    font-size: 8rem; }

.grid {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  flex-wrap: wrap; }

.player {
  overflow: hidden;
  padding: 0.8rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.8rem 1.5rem black;
  border: 0.1rem solid rgba(128, 128, 128, 0.2);
  margin: 1rem; }
  .player__profile {
    width: 18rem;
    height: 18rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.5rem; }
    .player__profile__image {
      width: 100%;
      height: 100%; }
  .player__name {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all; }

.gallery__image {
  width: 25rem; }

.pill {
  margin: 0 0.5rem;
  background-color: blue;
  padding: 0.5rem;
  min-width: 3.6rem;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer; }

@media (max-width: 56.25em) {
  .gallery__image {
    width: 50%; } }

.form {
  width: 36rem;
  padding: 0.5rem; }
  .form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
  .form__group-icon {
    display: flex; }
  .form__icon {
    font-size: 3rem;
    cursor: pointer;
    margin-left: 0.2rem; }
  .form__input {
    min-width: 32rem;
    width: 100%;
    padding: 0.8rem 0.5rem;
    font-size: 1.8rem;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0.4rem;
    border: none;
    outline: none; }
    .form__input:placeholder-shown {
      text-transform: capitalize; }
    .form__input:not(:placeholder-shown) ~ .form__input__helper {
      opacity: 1;
      transform: translateX(0.5rem) translateY(0); }
    .form__input__helper {
      font-size: 1.2rem;
      text-transform: uppercase;
      opacity: 0;
      transform: translateX(0.5rem) translateY(-1.4rem);
      margin-top: 0.2rem;
      transition: all 100ms linear;
      text-align: left; }
  .form__select {
    min-width: 32rem;
    width: 100%;
    padding: 0.8rem 0.5rem;
    font-size: 1.8rem;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0.4rem;
    border: none;
    outline: none; }
    .form__select__option {
      padding: 1rem; }
      .form__select__option:hover, .form__select__option:focus {
        border: none;
        background-color: rgba(128, 128, 128, 0.4); }
  .form__file__container {
    display: flex;
    align-items: center; }
  .form__file__image {
    width: auto;
    height: auto;
    max-height: 25rem;
    max-width: 25rem; }
  .form__file__remove {
    margin-left: 2rem;
    font-size: 3rem;
    color: rgba(255, 0, 0, 0.6);
    cursor: pointer; }
  .form__file__progress {
    width: 100%;
    height: 1.8rem;
    background-color: rgba(0, 128, 0, 0.3);
    position: relative; }
    .form__file__progress::before {
      content: attr(value) "%";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 800;
      color: white; }
  .form__file__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    cursor: pointer;
    padding: 0.5rem; }
    .form__file__label__icon {
      font-size: 4rem;
      color: rgba(0, 0, 0, 0.4); }
    .form__file__label__text {
      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.4);
      text-transform: uppercase; }
  .form__file__input {
    display: none; }
  .form__file__placeholder {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 0.2rem;
    transform: translateX(0.5rem); }
  .form__checkbox {
    display: flex;
    align-items: center; }
    .form__checkbox:not(:last-child) {
      margin-bottom: 2rem; }
    .form__checkbox__label {
      margin-left: 0.5rem;
      font-size: 1.6rem; }

.sponsor-slider {
  width: 100%;
  height: 14rem;
  padding: 1rem;
  background-color: black; }
  .sponsor-slider__container {
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
    -ms-overflow-style: none; }
    .sponsor-slider__container::-webkit-scrollbar {
      width: 0;
      height: 0; }
  .sponsor-slider__card {
    min-width: 20rem;
    max-width: 20rem;
    height: 12rem;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    backdrop-filter: invert(70%); }
    .sponsor-slider__card__name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-transform: capitalize;
      font-size: 1.6rem;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 4px;
      color: black;
      border-radius: 0.4rem;
      opacity: 0;
      transition: opacity 300ms linear;
      text-decoration: none; }
    .sponsor-slider__card:hover .sponsor-slider__card__name {
      opacity: 1; }
    .sponsor-slider__card:not(:last-child) {
      margin-right: 0.7rem; }

.footer {
  background-color: #01071A;
  padding: 2rem; }
  .footer__l1 {
    text-align: center;
    color: white;
    font-size: 1.6rem; }
  .footer__l2 {
    padding: 1rem 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .footer__l2__item {
      font-size: 1.4rem;
      width: 50%;
      text-align: center;
      color: white; }
      @media (max-width: 56.25em) {
        .footer__l2__item {
          width: 100%;
          margin-bottom: 1rem; } }
      .footer__l2__item__link {
        color: white;
        text-decoration: none; }

.dialog {
  position: absolute;
  top: 2rem;
  left: 50%;
  z-index: 10;
  background-color: white;
  padding: 1rem;
  transform: translate(-50%);
  border: 1px solid black; }
  .dialog__head {
    text-align: left;
    font-size: 1.4rem;
    cursor: pointer; }
  .dialog__body {
    margin-top: 1rem; }
  .dialog__footer {
    text-align: right; }

.news {
  width: 100%;
  padding: 2rem;
  background-image: url("../asset/news.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .news__title {
    font-size: 2.8rem;
    text-transform: capitalize;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
    color: white;
    font-weight: bold; }
  .news__list {
    height: 20rem;
    width: 100%;
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: flex-start; }
    .news__list::-webkit-scrollbar {
      width: 0; }
  .news__item {
    width: 24rem;
    height: 16rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    border-radius: 2rem;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer; }
    .news__item__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5rem;
      text-transform: capitalize;
      opacity: 0; }
    .news__item:hover .news__item__title {
      opacity: 1; }
    .news__item:hover {
      filter: grayscale(100%); }
  .news__container {
    width: 90vw;
    margin: 2rem auto;
    min-height: 150vh; }
    .news__container__image {
      margin: 2rem 0;
      width: 100%;
      height: 50rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 1rem; }
      @media (max-width: 56.25em) {
        .news__container__image {
          background-position: right; } }
    .news__container__title {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: bold; }
    .news__container__time {
      margin: 0.5rem 0;
      width: 100%;
      font-size: 2.2rem;
      padding-bottom: 2rem;
      border-bottom: 0.1rem solid rgba(128, 128, 128, 0.4); }
    .news__container__description {
      font-size: 2rem;
      text-transform: capitalize;
      word-wrap: break-word;
      word-break: break-all; }

.wallpaper {
  height: 120vh;
  position: relative; }
  .wallpaper__dock {
    width: 96vw;
    height: 12rem;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    overflow-x: scroll; }
    .wallpaper__dock__item {
      width: auto;
      height: 100%;
      filter: blur(0.1rem) grayscale(90%);
      cursor: pointer; }
      .wallpaper__dock__item:not(:last-child) {
        margin-right: 0.5rem; }
      .wallpaper__dock__item.active {
        filter: blur(0) grayscale(0%); }
      .wallpaper__dock__item:hover {
        filter: blur(0) grayscale(0%); }
    .wallpaper__dock::-webkit-scrollbar {
      width: 0;
      height: 0; }
  .wallpaper__progress {
    max-width: 96vw;
    position: absolute;
    bottom: 14rem;
    left: 50%;
    transform: translateX(-50%);
    height: 0.2rem;
    background-color: blue;
    transition: width 300ms linear; }
  .wallpaper__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex; }
  .wallpaper__item {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative; }
    .wallpaper__item__title {
      color: white;
      position: absolute;
      top: 40%;
      left: 2%; }
      .wallpaper__item__title__text {
        font-size: 3.6rem;
        padding: 0.5rem;
        word-wrap: break-word;
        word-break: break-all;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
        max-width: 50rem; }

.message_handler {
  position: fixed;
  bottom: 5px;
  right: 1rem;
  width: 25vw;
  display: flex;
  flex-direction: column-reverse;
  z-index: 10; }
  .message_handler__message {
    min-height: 4.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    cursor: pointer; }
    .message_handler__message__icon {
      font-size: 2.5rem;
      margin-right: 0.5rem; }
    .message_handler__message__text {
      font-size: 1.6rem;
      text-transform: capitalize; }
    .message_handler__message__close {
      margin-left: auto;
      font-size: 1.8rem; }
    .message_handler__message--error {
      background-color: #ff3636;
      color: white; }
    .message_handler__message--success {
      background-color: #459245;
      color: white; }
    .message_handler__message:first-child {
      margin-bottom: 0; }

@media (max-width: 56.25em) {
  .message_handler {
    width: 50vw; } }

.signin {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }
  .signin__other {
    margin: 1.2rem 0; }

.shop {
  min-height: 90vh;
  padding: 2rem;
  background-image: url("../asset/shop-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .shop__container {
    display: flex;
    max-width: 100rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; }
  .shop__card {
    margin: 0.7rem 0.5rem;
    border-radius: 0.4rem;
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer; }
    .shop__card__coin {
      width: 16rem; }
    .shop__card__value {
      font-size: 2.5rem;
      font-weight: 900;
      margin-bottom: 0.8rem; }
    .shop__card__cost {
      font-size: 2.5rem;
      font-weight: 900;
      margin: 0.8rem 0; }

@media (max-width: 56.25em) {
  .shop__card__coin {
    width: 12rem; } }

.gallery {
  padding: 2rem;
  min-height: 88vh;
  background-color: #e6e6e6; }
  .gallery__title {
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 900; }
  .gallery__subtitle {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.8rem; }
  .gallery__display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 100rem; }
  .gallery__container {
    height: 20rem;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 0 0.7rem 1rem 0.2rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative; }
    .gallery__container:hover .gallery__img {
      transform: scale(1.1);
      filter: blur(5px); }
    .gallery__container:hover .gallery__name {
      opacity: 1; }
  .gallery__name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 300ms linear; }
  .gallery__img {
    height: 100%;
    width: auto;
    transition: transform 200ms linear; }
  .gallery__magnify {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2; }
    .gallery__magnify__container {
      max-width: 60rem;
      width: 100%;
      max-height: 40rem;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 37.5em) {
        .gallery__magnify__container {
          max-width: 90vw;
          width: 100%;
          max-height: 40rem;
          height: 100%; } }
      .gallery__magnify__container__close {
        color: white;
        display: block;
        font-size: 3rem;
        cursor: pointer;
        z-index: 3;
        margin-left: auto; }

.streams {
  padding: 2rem;
  text-align: center;
  min-height: 88vh;
  background-image: url("../asset/streams.jpg");
  background-size: cover;
  background-position: center; }
  .streams__title {
    font-size: 4rem;
    text-transform: uppercase;
    color: white; }
  .streams__subtitle {
    margin: 2rem 0;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: white; }
  .streams__social {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem; }
    .streams__social__button:not(:last-child) {
      margin-right: 1rem; }
  .streams__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .streams__item {
    width: 36rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    position: relative;
    color: white; }
    .streams__item__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.2); }
    .streams__item__name {
      position: absolute;
      bottom: 3rem;
      left: 1rem;
      font-size: 2rem;
      text-transform: capitalize;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 0.2rem; }
    .streams__item__game {
      position: absolute;
      bottom: 0.5rem;
      left: 1rem;
      font-size: 2rem;
      text-transform: capitalize;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 0.2rem; }
    .streams__item__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 4rem;
      color: rgba(255, 255, 255, 0.6);
      transform: translate(-50%, -50%); }

.sponsors {
  min-height: 88vh; }
  .sponsors__head {
    padding: 2rem 0;
    background-image: url("../asset/streams.jpg");
    background-size: cover; }
  .sponsors__title {
    text-align: center;
    text-transform: capitalize;
    font-size: 3.2rem;
    font-weight: 900;
    color: white; }
  .sponsors__new {
    width: 36rem;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.4rem;
    padding: 1rem; }
  .sponsors__body {
    padding: 2rem;
    background-color: #00001a; }
    .sponsors__body__container {
      max-width: 100rem;
      margin: 0rem auto; }
  .sponsors__group:not(:last-child) {
    margin-bottom: 2rem; }
  .sponsors__group__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white; }
  .sponsors__group__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .sponsors__card {
    margin: 0.2rem;
    cursor: pointer; }
    .sponsors__card__image {
      width: 18rem;
      height: 16rem; }
      .sponsors__card__image img {
        width: 100%;
        height: 100%; }
    .sponsors__card__name {
      display: block;
      text-align: center;
      margin: 0.5rem 0;
      font-size: 2rem;
      text-transform: capitalize;
      color: white; }
    .sponsors__card__links {
      margin-top: 0.4rem;
      flex-wrap: wrap;
      width: 16rem;
      display: flex;
      justify-content: center; }
      .sponsors__card__links__item {
        color: white;
        font-size: 2rem; }

.settings {
  padding: 2rem;
  background-image: url("../asset/settings.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .settings__body {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.4rem;
    padding: 2rem; }
  .settings__button {
    margin-top: 2rem; }

.about {
  padding: 2rem;
  min-height: 88vh;
  background-image: url("../asset/about-bg.jpg");
  background-size: cover;
  background-position: center; }
  .about__title {
    text-align: center;
    font-size: 3.6rem;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    margin-bottom: 2rem; }
  .about__content {
    color: white;
    font-size: 1.8rem;
    text-align: center;
    width: 100rem;
    margin: 0 auto;
    line-height: 4rem;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem; }

@media (max-width: 56.25em) {
  .about__content {
    width: 100%;
    line-height: 3.2rem; } }

.withdraw {
  min-height: 88vh; }
  .withdraw__body {
    margin: 2rem auto;
    max-width: 80rem; }
  .withdraw__head {
    text-align: center;
    padding: 2rem; }
    .withdraw__head__title {
      font-size: 2.5rem;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 1rem; }
    .withdraw__head__coins {
      font-size: 2.5rem;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 1rem; }
    .withdraw__head__done {
      text-transform: capitalize;
      font-size: 1.8rem;
      background-color: rgba(0, 0, 255, 0.5);
      width: fit-content;
      margin: 0 auto;
      padding: 1rem; }
    .withdraw__head__warning {
      text-transform: capitalize;
      font-size: 1.8rem;
      background-color: rgba(0, 0, 255, 0.2);
      width: fit-content;
      margin: 0 auto;
      padding: 1rem; }
      .withdraw__head__warning__red {
        color: red; }

.detail {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center; }
  .detail__image {
    width: 20rem;
    background-color: rgba(128, 128, 128, 0.2);
    height: auto;
    margin-bottom: 0.5rem; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0; }

.col {
  margin: 0 1rem; }

.admin__settings {
  max-width: 100rem;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }
  .admin__settings__item {
    margin: 0.4rem; }
    .admin__settings__item__image {
      position: relative;
      height: 20rem;
      width: 36rem;
      margin-bottom: 1rem;
      cursor: pointer; }
      .admin__settings__item__image img {
        width: 100%;
        height: 100%; }
      .admin__settings__item__image__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        opacity: 0; }
      .admin__settings__item__image:hover img {
        filter: blur(10px) grayscale(20%); }
      .admin__settings__item__image:hover .admin__settings__item__image__text {
        opacity: 1; }

@media (max-width: 56.25em) {
  .col {
    margin: 0; } }

.match__head {
  padding-top: 12vh;
  background-image: url("../asset/tournament.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  position: relative; }
  .match__head__container {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
    padding: 2rem; }
    .match__head__container__title {
      color: white;
      font-weight: bold;
      font-size: 3.6rem;
      text-align: center;
      text-transform: capitalize; }
    .match__head__container__subtitle {
      color: white;
      font-weight: bold;
      font-size: 2rem;
      margin-top: 1rem;
      text-align: center;
      text-transform: capitalize; }
    .match__head__container__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 100rem;
      margin-top: 2rem; }
      .match__head__container__list__item {
        width: 18rem;
        margin: 0 0.5rem; }
        .match__head__container__list__item__image {
          width: 100%;
          filter: grayscale(100%);
          cursor: pointer;
          transform: scale(1);
          transition: all 300ms linear; }
          .match__head__container__list__item__image:hover {
            transform: scale(1.1); }
          .match__head__container__list__item__image.active {
            filter: grayscale(0%);
            transform: scale(1); }
          .match__head__container__list__item__image.button {
            text-align: right; }
            @media (max-width: 56.25em) {
              .match__head__container__list__item__image.button {
                text-align: center; } }

.match__footer {
  padding: 2rem;
  background-color: #00001a;
  min-height: 32rem; }
  .match__footer__title {
    font-size: 2.8rem;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    .match__footer__title__side {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30rem; }
      .match__footer__title__side__item {
        font-size: 1.8rem;
        text-transform: capitalize;
        cursor: pointer;
        transition: color 300ms linear;
        position: relative; }
        .match__footer__title__side__item:first-child {
          list-style: none; }
        .match__footer__title__side__item:hover {
          color: blue; }
        .match__footer__title__side__item::before {
          content: "";
          height: 3px;
          background-color: blue;
          width: 0;
          position: absolute;
          top: 160%;
          transition: width 300ms linear; }
          @media (max-width: 56.25em) {
            .match__footer__title__side__item::before {
              top: 150%; } }
        .match__footer__title__side__item:hover::before {
          width: 100%; }
        .match__footer__title__side__item.active {
          color: blue; }
          .match__footer__title__side__item.active::before {
            content: "";
            height: 3px;
            background-color: blue;
            width: 100%;
            position: absolute;
            top: 160%;
            transition: width 300ms linear; }
            @media (max-width: 56.25em) {
              .match__footer__title__side__item.active::before {
                top: 150%; } }
  .match__footer__list {
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    @media (max-width: 56.25em) {
      .match__footer__list {
        justify-content: center; } }
    .match__footer__list__item {
      width: 32rem;
      height: 20rem;
      position: relative;
      cursor: pointer;
      margin: 0.5rem; }
      .match__footer__list__item__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        filter: grayscale(100%); }
        .match__footer__list__item__image:hover {
          filter: grayscale(0%); }
      .match__footer__list__item__entry {
        position: absolute;
        bottom: 0;
        z-index: 5;
        padding: 0.2rem;
        color: white;
        font-weight: bold;
        font-size: 1.6rem;
        background-color: rgba(0, 0, 0, 0.7); }
      .match__footer__list__item__time {
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 5;
        padding: 0.2rem;
        color: white;
        font-weight: bold;
        font-size: 1.4rem;
        position: absolute;
        top: 2;
        left: 2; }

.tournament {
  min-height: 100vh;
  background-color: #01071a;
  padding-top: 12vh; }
  .tournament__container {
    max-width: 100vw;
    padding: 5rem 2rem; }
    .tournament__container--footer {
      padding: 2rem; }
      .tournament__container--footer__title {
        color: white;
        font-size: 2.8rem;
        max-width: 100vw;
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid #686a76; }
    .tournament__container__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem; }
  .tournament__card {
    max-width: 100rem;
    margin: 0 auto;
    background-color: #0d0b1a;
    box-shadow: 0 1rem 1.5rem 0.5rem rgba(0, 0, 0, 0.4); }
    .tournament__card__head {
      width: 100%;
      height: 50rem;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative; }
      .tournament__card__head__title {
        position: absolute;
        top: 2rem;
        left: 2rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: bold;
        color: white; }
      .tournament__card__head__time {
        position: absolute;
        position: absolute;
        top: 5rem;
        left: 2rem;
        font-size: 2.5rem;
        font-weight: bold;
        color: white; }
    .tournament__card__body {
      width: 100%;
      padding: 2rem; }
      .tournament__card__body__upper {
        width: 100%;
        height: 45%;
        padding: 0;
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid rgba(128, 128, 128, 0.3);
        display: flex;
        align-items: center; }
        .tournament__card__body__upper__left {
          max-width: 40rem;
          padding-right: 1rem;
          border-right: 0.1rem solid rgba(128, 128, 128, 0.3); }
          .tournament__card__body__upper__left__image {
            width: 100%;
            max-height: 20rem; }
        .tournament__card__body__upper__right {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center; }
      .tournament__card__body__lower {
        width: 100%;
        height: 55%;
        display: flex;
        margin-top: 2rem; }
        .tournament__card__body__lower__left {
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 1.8rem; }
          .tournament__card__body__lower__left__item {
            padding: 1rem 0.8rem 1rem 0; }
            .tournament__card__body__lower__left__item:not(:last-child) {
              border-right: 0.1rem solid rgba(128, 128, 128, 0.4); }
            .tournament__card__body__lower__left__item:not(:first-child) {
              padding-left: 0.8rem; }

@media (max-width: 56.25em) {
  .tournament__container__list {
    justify-content: center; }
  .tournament__card {
    min-height: 100rem;
    height: fit-content; }
    .tournament__card__body__upper {
      height: fit-content;
      flex-wrap: wrap; }
      .tournament__card__body__upper__left {
        max-width: 100%;
        padding-right: 0; }
    .tournament__card__body__lower {
      height: fit-content;
      flex-wrap: wrap; }
      .tournament__card__body__lower__left {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.8rem; }
        .tournament__card__body__lower__left__item {
          padding: 1rem 0.8rem 1rem 0; }
          .tournament__card__body__lower__left__item:not(:last-child) {
            border-right: 0.1rem solid rgba(128, 128, 128, 0.4); }
          .tournament__card__body__lower__left__item:not(:first-child) {
            padding-left: 0.8rem; } }

.profile {
  min-height: 100vh;
  background-color: #01071a;
  padding-top: 12vh;
  padding-bottom: 5rem; }
  .profile__container {
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 5rem;
    box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.8); }
  .profile__image {
    width: 100%;
    height: 100%; }
  .profile__head {
    height: 45rem;
    background-image: url("../asset/profile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 8rem;
    display: flex;
    flex-wrap: wrap; }
    .profile__head__left {
      width: 30rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .profile__head__left__container {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        overflow: hidden;
        border: 0.1rem solid rgba(255, 215, 0, 0.4); }
    .profile__head__right {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.6rem;
      text-transform: uppercase; }
  .profile__body {
    padding: 2rem; }
    .profile__body__top {
      width: 100%;
      border-bottom: 0.1rem solid rgba(128, 128, 128, 0.4);
      padding-bottom: 1.5rem;
      display: flex;
      flex-wrap: wrap; }
      .profile__body__top__left {
        display: flex;
        flex-wrap: wrap; }
      .profile__body__top__right {
        margin-left: auto; }
      .profile__body__top__item {
        padding: 0 2rem;
        border-right: 0.1rem solid rgba(128, 128, 128, 0.5);
        margin: 0.2rem 0; }
        .profile__body__top__item:first-child {
          padding-right: 2rem;
          padding-left: 0; }
        .profile__body__top__item__title {
          font-size: 1.6rem;
          color: rgba(255, 255, 255, 0.5);
          text-transform: uppercase;
          margin-bottom: 0.5rem; }
        .profile__body__top__item__value {
          font-size: 1.6rem;
          color: white;
          text-transform: uppercase; }
    .profile__body__bottom {
      display: flex;
      flex-wrap: wrap-reverse;
      margin-top: 1rem; }
      .profile__body__bottom__left {
        width: 40rem;
        min-height: 10rem; }
        .profile__body__bottom__left__title {
          color: white;
          font-size: 1.6rem;
          text-transform: uppercase; }
        .profile__body__bottom__left__value {
          margin-top: 1rem;
          font-size: 1.6rem;
          color: white;
          word-wrap: break-word;
          word-break: break-all; }
      .profile__body__bottom__right {
        display: flex;
        margin-left: auto;
        align-items: center; }
      .profile__body__bottom__item {
        color: white;
        padding: 1rem;
        text-align: center; }
        .profile__body__bottom__item__icon {
          font-size: 2.5rem; }
        .profile__body__bottom__item__title {
          color: rgba(255, 255, 255, 0.4);
          text-transform: uppercase;
          margin: 0.3rem 0;
          font-size: 1.2rem; }
        .profile__body__bottom__item__value {
          font-size: 1.6rem; }

@media (max-width: 56.25em) {
  .profile__container {
    max-width: 90vw; }
  .profile__head__left {
    width: 100%; }
  .profile__head__right {
    width: 100%; }
  .profile__body__top__left {
    justify-content: center; }
  .profile__body__top__right {
    margin: 0 auto;
    margin-top: 2rem; }
  .profile__body__bottom__right {
    width: 100%;
    margin-bottom: 1rem; } }

.bracket__list {
  min-height: 88vh;
  padding: 2rem;
  background-color: #01071a;
  display: flex;
  flex-wrap: wrap; }

.bracket {
  width: fit-content;
  width: 30rem;
  height: fit-content;
  padding: 1rem 2.5rem;
  box-shadow: 1rem 1rem 2rem 0.4rem rgba(0, 0, 0, 0.7);
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  margin: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  .bracket__winner {
    position: absolute;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    font-size: 5rem;
    font-weight: 100;
    border: 0.2rem red solid;
    padding: 0.5rem;
    color: red; }
  .bracket.active {
    border: 0.5rem solid rgba(255, 255, 0, 0.6); }
  .bracket__timer {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 1rem 0; }
  .bracket__profile {
    margin: 1rem auto;
    width: 20rem;
    height: 20rem;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .bracket__button {
    display: inline-block; }
  .bracket__ughId {
    text-transform: uppercase;
    word-wrap: break-word; }
  .bracket__rank {
    margin: 1rem 0; }
    .bracket__rank__title {
      font-size: 1.2rem;
      margin-right: 1rem; }
    .bracket__rank__value {
      font-size: 4.8rem; }
    .bracket__rank__position {
      font-size: 1.2rem; }
  .bracket__proof {
    position: relative; }
    .bracket__proof__image {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 20rem;
      max-height: 20rem;
      height: 100%; }
    .bracket__proof__text {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%);
      font-size: 1.8rem;
      opacity: 0;
      font-weight: 900;
      z-index: 1;
      transition: opacity 300ms linear; }
    .bracket__proof:hover .bracket__proof__text {
      opacity: 1; }
    .bracket__proof:hover .bracket__proof__image {
      opacity: 0.8;
      filter: blur(0.1rem); }
