.detail {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  &__image {
    width: 20rem;
    background-color: rgba(grey, 0.2);
    height: auto;
    margin-bottom: 0.5rem;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}
.col {
  margin: 0 1rem;
}

@include respond(tab-port) {
  .col {
    margin: 0;
  }
}
