.bracket__list {
  min-height: 88vh;
  padding: 2rem;
  background-color: #01071a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bracket {
  width: fit-content;
  width: 30rem;
  height: fit-content;
  padding: 1rem 2.5rem;
  box-shadow: 1rem 1rem 2rem 0.4rem rgba(black, 0.7);
  border: 0.1rem solid rgba(white, 0.1);
  margin: 1rem;
  color: rgba(white, 0.5);
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  &__winner {
    position: absolute;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    font-size: 5rem;
    font-weight: 100;
    border: 0.2rem red solid;
    padding: 0.5rem;
    color: red;
  }
  &.active {
    border: 0.5rem solid rgba(yellow, 0.6);
  }
  &__timer {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 1rem 0;
  }
  &__profile {
    margin: 1rem auto;
    width: 20rem;
    height: 20rem;
    background-color: rgba(gray, 0.2);
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__button {
    display: inline-block;
  }
  &__ughId {
    text-transform: uppercase;
    word-wrap: break-word;
  }
  &__rank {
    margin: 1rem 0;
    &__title {
      font-size: 1.2rem;
      margin-right: 1rem;
    }
    &__value {
      font-size: 4.8rem;
    }
    &__position {
      font-size: 1.2rem;
    }
  }
  &__proof {
    position: relative;
    &__image {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 20rem;
      max-height: 20rem;
      height: 100%;
    }
    &__text {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%);
      font-size: 1.8rem;
      opacity: 0;
      font-weight: 900;
      z-index: 1;
      transition: opacity 300ms linear;
    }
    &:hover &__text {
      opacity: 1;
    }
    &:hover &__image {
      opacity: 0.8;
      filter: blur(0.1rem);
    }
  }
}
