.signin {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 2rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    text-align: center;
    padding: 1rem;
    background-color: rgba(black, 0.4);
    margin-bottom: 2rem;
    color: white;
  }
  &__other {
    margin: 1.2rem 0;
  }
  &__ughid {
    width: 32rem;
    margin: 0.2rem 0;
    font-size: 1.4rem;
    &--fail {
      color: red;
    }
    &--success {
      color: green;
    }
  }
}
