.withdraw {
  &__body {
    margin-top: 2rem;
  }
  &__head {
    // background-color: green;
    text-align: center;
    padding: 2rem;
    &__title {
      font-size: 2.5rem;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }
    &__coins {
      font-size: 2.5rem;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }
    &__done {
      text-transform: capitalize;
      font-size: 1.8rem;
      background-color: rgba(blue, 0.5);
      width: fit-content;
      margin: 0 auto;
      padding: 1rem;
    }
    &__warning {
      text-transform: capitalize;
      font-size: 1.8rem;
      background-color: rgba(blue, 0.2);
      width: fit-content;
      margin: 0 auto;
      padding: 1rem;
      &__red {
        color: red;
      }
    }
  }
}
